*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100vw;
    height: 100vh;
    background: url('./Img/background.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

main form{
    display: flex;
    flex-direction: column;
}